@import url(coding.css);
@import url(london.css);
:root {
  --body-margin: 0rem;  
  --body-padding: 0rem;
  
  --banner-margin: 0rem;
  
  --post-float-padding: 1.5rem;
  --post-float-date-margin: -1.5rem;
  
  --main-color: #46648c;
  --secondary-color: #46648c;
  --secondary-shade: #142f52;
  --complementary-color: #94a9c5;
  
  --main-font: "Helvetica";
}

body{
	margin-left:var(--body-margin);	
	margin-right:var(--body-margin);
	margin-top:var(--body-margin);
	padding-left:var(--body-padding);
	padding-right:var(--body-padding);
	padding-top:var(--body-padding);
	
	font-family: "Helvetica";
	
	width:100%;
	overflow-x: hidden;
}

a {
  color: var(--main-color);
}

a:visited {
  color: var(--complementary-color);
}

li{
  margin: 12px 0;
}

h1{
	font-family: var(--main-font);	
	font-size: 1.5rem;
	font-weight: lighter;
}

h2{
	font-family: var(--main-font);	
	font-size: 1.3rem;
	font-weight: lighter;
}

h3{
	font-family: var(--main-font);	
	font-size: 1.2rem;
	font-weight: lighter;
}

h4{
	font-family: var(--main-font);	
	font-size: 1.2rem;
	font-weight: lighter;
}

h5{
	font-family: var(--main-font);	
	font-size: 1.2rem;
	font-weight: lighter;
}

p{
	font-family: "Helvetica";
	font-size: 1rem;
	line-height:1.5;
}

img {
    max-width: 75%;
    max-height: 100%;
	padding-bottom:20px;
}

.container{
	margin: auto;
	width: 75%;
}

.navbar {
	margin-bottom:0em;
	background-color:var(--main-color);
	position: fixed;
	top:0;
	
}

.navbar:hover {
	background: var(--secondary-shade);
	color: white;
}

.navbar a {
    display: block;
	color: white;
	padding:2rem ;
	text-decoration: none;
	font-size: 17px;
}

.banner{

	margin-bottom:3em;
    padding:6rem 2rem;
	background-color:var(--main-color);
	
}

.banner a{
	float: right;
}

.banner p{
	
	margin:2px;
}

.banner .title{
	
	font-family: "Helvetica";
	font-size: 2.5rem;
	color:white;
}

.banner .subtitle{
	
	font-family: "Helvetica";
	font-size: 1.5rem;
	color:white;
}

.posts-container {
  display: flex;
  flex-flow: row wrap; 
  width : 100%; 
  align-content: space-between; 
  padding:0;
}

.post-float {
	
	flex: 33%;
        max-width: 33%;
	
	border-radius: 0px;
	
	margin-top:2em;
	margin-left: 0em;
	margin-right:1em;
	padding: var(--post-float-padding);
	box-shadow: 2px 2px 3px 2px #ccc;
	
	text-decoration: none;
	font-family: "Helvetica";
	
	color:black;
}

.post-float:hover{
	
	box-shadow: 2px 2px 3px 4px #ccc;
	
}

.post-float .date{
    border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
	margin-top: var(--post-float-date-margin);
	margin-left: var(--post-float-date-margin);
	margin-right: var(--post-float-date-margin);
	margin-bottom:1em;
	padding: 1em;
	
	font-size:1.rem;
	color:white;
	background-color:var(--complementary-color);
	
}

.post-float img{
		
    display: block;		
    max-width: 100%;
    max-height: 100%;
	
	margin-left: auto;
    margin-right: auto;

    border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
}

.pop-up-img:hover
{
  opacity:0.7;
  cursor: pointer;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,.9); /* Black w/ opacity */
  

}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  position: fixed; /* Stay in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsive layout */
@media (max-width: 600px) {
  .banner .title {
    font-size: 1.8rem;
  }
  .banner .subtitle{
	font-size: 1.3rem;
  }
  .banner {
	  padding:3rem 2rem;
  }
  
  
  .navbar a{
	padding:0.5em;
	
  }


  h1 {
	  font-size: 1.2rem;
  }
  h2 {
	  font-size: 1.1rem;
  }
  h3 {
	  font-size: 1rem;
  }
  
  
  .container {
    width: 98%;
	max-width: 98%;
  }
  
  img {
  
	max-width: 100%;
    max-height: 100%;
	padding-bottom:5px;
  }
  
  .modal-content {
    width: 100%;
  }
}

/* Responsive layout */
@media (max-width: 960px) {
  .post-float {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout */
@media (max-width: 800px) {
  .post-float {
    flex: 100%;
    max-width: 100%;
  }
}

  
