@import url(coding.css);
@import url(london.css);
:root {
  --body-margin: 1rem;  
  --body-padding: 1rem;
  
  --banner-margin: -2rem;
  
  --post-float-padding: 1.5rem;
  --post-float-date-margin: -1.5rem;
  
  --main-color: #46648c;
  --secondary-color: #46648c;
  --secondary-shade: #142f52;
  --complementary-color: #94a9c5;
  
  --main-font: "Helvetica";
}

body{
	margin-left:var(--body-margin);	
	margin-right:var(--body-margin);
	margin-top:var(--body-margin);
	padding-left:var(--body-padding);
	padding-right:var(--body-padding);
	padding-top:var(--body-padding);
	
	font-family: "Helvetica";
}

a {
  color: var(--main-color);
}

a:visited {
  color: var(--complementary-color);
}

li{
  margin: 12px 0;
}

h1{
	font-family: var(--main-font);	
	font-size: 1.5rem;
	font-weight: lighter;
}

h2{
	font-family: var(--main-font);	
	font-size: 1.3rem;
	font-weight: lighter;
}

h3{
	font-family: var(--main-font);	
	font-size: 1.2rem;
	font-weight: lighter;
}

h4{
	font-family: var(--main-font);	
	font-size: 1.2rem;
	font-weight: lighter;
}

h5{
	font-family: var(--main-font);	
	font-size: 1.2rem;
	font-weight: lighter;
}

p{
	font-family: "Helvetica";
	font-size: 1rem;
	line-height:1.5;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container{
	margin: auto;
	width: 75%;
}


.navbar {
	overflow: hidden;
	background-color: var(--secondary-color);
	position: fixed;
	top: 0;
	width: 100%;
  
	margin-left:var(--banner-margin);
	margin-right:var(--banner-margin);
}

.navbar a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 18px;
	text-decoration: none;
	font-size: 17px;
}

.navbar a:hover {
	background: var(--secondary-shade);
	color: white;
}

.banner{

	margin-left:var(--banner-margin);
	margin-right:var(--banner-margin);
	margin-top:var(--banner-margin);
	margin-bottom:3em;
    padding:6rem 2rem;
	background-color:var(--main-color);
	
}

.banner p{
	
	margin:2px;
}

.banner .title{
	
	font-family: "Helvetica";
	font-size: 2.5rem;
	color:white;
}

.banner .subtitle{
	
	font-family: "Helvetica";
	font-size: 1.5rem;
	color:white;
}

.posts-container {
  display: flex;
  flex-flow: row wrap; 
  width : 100%; 
  align-content: space-between; 
  padding:0;
}

.post-float {
	
	flex: 33%;
    max-width: 33%;
	
	border-radius: 0px;
	
	margin-top:2em;
	margin-left: 0em;
	margin-right:1em;
	padding: var(--post-float-padding);
	box-shadow: 2px 2px 3px 2px #ccc;
	
	text-decoration: none;
	font-family: "Helvetica";
	
	color:black;
}

.post-float:hover{
	
	box-shadow: 2px 2px 3px 4px #ccc;
	
}

.post-float .date{
    border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
	margin-top: var(--post-float-date-margin);
	margin-left: var(--post-float-date-margin);
	margin-right: var(--post-float-date-margin);
	margin-bottom:1em;
	padding: 1em;
	
	font-size:1.rem;
	color:white;
	background-color:var(--complementary-color);
	
}
.post-float img{
  
    border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	
}

/* Responsive layout */
@media (max-width: 600px) {
  .banner .title {
    font-size: 1.8rem;
  }
  .banner .subtitle{
	font-size: 1.3rem;
  }
  .banner {
	  padding:3rem 2rem;
  }
  h1 {
	  font-size: 1.2rem;
  }
  h2 {
	  font-size: 1.1rem;
  }
  h3 {
	  font-size: 1rem;
  }
  .container {
    width: 100%
  }
}

/* Responsive layout */
@media (max-width: 960px) {
  .post-float {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout */
@media (max-width: 800px) {
  .post-float {
    flex: 100%;
    max-width: 100%;
  }
}
  
