.output {
	background: rgb(220,220,220);
	font-size: 1.2em; 
	margin: 0;
	padding-top: 0.2em;
	padding-right: 0.8em;
	padding-bottom: 0.8em;
	padding-left: 0.8em;
	line-height: 1.5;
	overflow: auto;
}

.equations {
	overflow: auto;
}