---
layout: default
title: A Probably Blog by Takmanman
---
	<h1>{{ page.title }}</h1>
	<h3>Posts</h3>
	<ul class="posts">

	  {% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
	</ul>
	<h3>Tutorials</h3>
	<ul class="tutorials">

	  {% for tutorial in site.tutorials %}
	    <li><span>{{ tutorial.date | date_to_string }}</span> » <a href="{{ tutorial.url }}" title="{{ tutorial.title }}">{{ tutorial.title }}</a></li>
	  {% endfor %}
	</ul>
	
	
